<form {{action 'sendPasswordResetRequest' this on='submit'}} class="flex-form">
  <h1>Reset your Nope account's password - Enter your e-mail</h1>

  <div class="InputAddOn">
    <span class="InputAddOn-item"><i class="fa fa-envelope"></i> E-mail</span>
    {{input type='email' placeholder='Enter your E-mail' value=email class="InputAddOn-field"}}
  </div>


  {{#if hasSent}}
    <i class="fa fa-check green"></i>
  {{else}}
    <button type="submit" class="InputAddOn-item">Reset my password!</button>
  {{/if}}
</form>

<hr>

<p>{{#link-to 'login'}}Login{{/link-to}} / {{#link-to 'login'}}Signup{{/link-to}}</p>
