<section>
  <h2 class="major"><span>Help</span></h2>
  <h3>
    How to use Nope.
  </h3>
  <p>
    {{#link-to 'newOpponent'}}Invite your friends by entering their emails{{/link-to}}, then start sending them "nopes".<br>
    Whoever has the advantage longer than the other wins!
  </p>
  <h3>
    Truces.
  </h3>
  <p>
    You can, at any time, propose a <strong>truce</strong> to your opponents. From the time of your proposal, they have an hour to accept. If they do, time counters will be frozen until one of you breaks the truce, which is only possible after an hour passes.
  </p>
  <h3>
    Rounds, victories and defeats.
  </h3>
  <p>
    If you happen to be more than a day behind your opponent's time, you can admit your defeat for this round. This will <strong>reset the counters to zero</strong> giving you a chance to begin another round of "nopes" with new chances of winning! Your total number of victories and defeats is saved, so do your best!
  </p>
  <h3>
    Changing your avatar
  </h3>
  <p>
    Avatars are associated to your e-mail adress via <a href="https://www.gravatar.com">Gravatar</a>. If you want to change your avatar, you need to create an account there.
  </p>
</section>
