<section>
  <h2 class="major"><span>Ignored people</span></h2>
  {{#if model}}{{else}}
    Nope. You are not ignoring anyone.
  {{/if}}
  <ul class="columns">
    {{#each}}
      <li>
        <button style="float:right;" class="InputAddOn-item" type="button" {{action 'unIgnoreOpponent' this}}>Unignore</button>
        <h3>
          <img width="20" height="20" {{bind-attr src="avatar"}} />
          {{name}}
        </h3>
      </li>
    {{/each}}
  </ul>
</section>
