<section>
  <h2 class="major"><span>Add a friend</span></h2>
  <form {{action 'addOpponent' email on='submit'}} class="flex-form">
    <div class="InputAddOn">
      <span class="InputAddOn-item"><i class="fa fa-envelope"></i> E-mail</span>
      {{input type='email' placeholder="Enter a friend's E-mail adress" name="email" class="InputAddOn-field" value=email}}
      <button class="InputAddOn-item" type="submit">Add</button>
    </div>
  </form>
</section>
