<form {{action 'sendNewPassword' this on='submit'}} class="flex-form">
  <h1>Enter your new password (twice)</h1>

  {{input type="hidden" value=resetToken }}

  <div class="InputAddOn">
    {{input placeholder='Enter your password' type='password' value=password1 class="InputAddOn-field"}}
  </div>
  <div class="InputAddOn">
    {{input placeholder='Enter your password' type='password' value=password2 class="InputAddOn-field"}}
  </div>

  <button type="submit" class="InputAddOn-item">Reset password</button>
</form>

<hr>

<p>{{#link-to 'login'}}Login{{/link-to}} / {{#link-to 'login'}}Signup{{/link-to}}</p>
