<section style="text-align:center;">
  <div>
    <section>
      <h2 class="major"><span>Talk about Nope.</span></h2>
      <ul class="contact">
        <li><a target="_blank" class="fa fa-facebook solo" href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.nope.wtf"></a></li>
        <li><a target="_blank" class="fa fa-twitter solo" href="https://twitter.com/share?via=nope_wtf&text=I%27m+currently+trying+to+get+the+last+word+in+nope.wtf!"></a></li>
        <li><a class="fa fa-envelope solo" href="mailto:change@before.sending?subject=Nope&body=Join%20https%3A%2F%2Fwww.nope.wtf%20!"></a></li>
      </ul>
    </section>
  </div>

    <div id="copyright">
      &copy; Nope. | Base design: <a href="http://html5up.net/" target="_blank">HTML5 UP</a>
    </div>
</section>
